.wrapper {
    background-color: rgb(141, 136, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    .container {
        width: 350px;
        height: 450px;
        box-shadow: 0 0 10px 0 black;
        border-radius: .5rem;
        overflow: hidden;
        img {
            width: 100%;
        }
    }    
    .row {
        display: flex;
        gap: 1rem;
        align-items: start;
    }
    .gap {
        display: grid;
        gap: 1rem;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
        height: 450px;
        input {
            padding: 1rem;
            box-shadow: 0 0 10px 0 black;
            border-radius: .5rem;
            border: none;
            font-size: 1.5rem;
        }
        .error {
            color: rgb(143, 0, 0);
            font-size: 1.5rem;
        }
        button {
            padding: 1rem;
            box-shadow: 0 0 10px 0 black;
            border-radius: .5rem;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 2rem;
            background-color: rgb(60, 194, 211);
        }
        p {
            font-size: 2.5rem;
            color: white;
        }
    }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}